body{
    background-color:#fff1d7;
    font-family: 'Passero One', cursive;
    box-sizing: border-box
}

.text{
font-size: 50px;
text-align: center;
}

.word {
    font-size: 40px;
    text-align: center;
}